/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fredoka', cursive;
}

/* Header Rules */
header{
    text-align: center;
    width: 80%;
    margin: auto;
    height: 150px;
}

header > h1{
    font-family: 'Fredoka One', cursive;
    margin: 30px;
    color: #e53170;
}

/* Main Rules */
.row{
    width: 75%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/* Card Rules */
.card{
    background-color: #0f0e17;
    width: 300px;
    color:white;
    background-repeat: no-repeat;
    background-size: 85px;
    background-position-y: center;
    padding: 5px 0px 0px 100px;
    word-wrap: break-word;
    line-height: 25px;
}

.card.one{
    background-image: url("../img/male1.png");
}

.card.two{
    background-image: url("../img/female1.png");
}

.card.three{
    background-image: url("../img/male2.png");
}

.card.four{
    background-image: url("../img/female2.png");
}

.card.five{
    background-image: url("../img/male3.png");
}

.card.six{
    background-image: url("../img/female3.png");
}

.card > a > h3{
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.card > a > h3:hover{
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
}

.card > img{
    width: 85px;
}

.card > a{
    text-decoration: none;
    color: #33a4e0;
}

.card > a:hover{
    color: purple;
}

